body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.recipe-app {
  width: 80%;
  max-width: 800px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"],
textarea {
  width: 97%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #3651ea;
}

#recipeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.recipe-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  background-color: #e1e1be;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-card h2 {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: #333;
}

.recipe-card p {
  margin: 5px 0;
  color: #555;
}

.recipe-card .actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.delete-btn {
  background-color: #db6e6e;
}

.delete-btn:hover {
  background-color: #ff0000;
}

.favorite-btn {
  background-color: #4cc96c;
}

.favorite-btn:hover {
  background-color: #29dd56;
}

#clearRecipesButton {
  width: 100%;
  padding: 10px;
  background-color: #ff9800;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
}

#clearRecipesButton:hover {
  background-color: #f90202;
}
